
.confirm-grid-container {
  display: grid;
  grid-template-columns: 120px 200px 200px;
  grid-row-gap: 15px;
}

.confirm-grid-header {
  justify-self: center;
}

.confirm-grid-data {
  justify-self: center;
}

.confirm-grid-data.changed {
  color: royalblue;
  font-weight: bold; 
}